---
layout: 'base.njk'
---

<div class="code-wrap">
    <div class="code-container">
        <h2>HTML Code</h2>
        <pre><code class="language-css" id="html-code">{{ htmlCode | escape | safe }}</code></pre>
        <button onclick="copyToClipboard('html-code')">Copy HTML</button>
    </div>
    <div class="code-container">
        <h2>CSS Code</h2>
        <pre><code class="language-css" id="css-code"> {{ cssCode | escape | safe }} </code></pre>
        <button onclick="copyToClipboard('css-code')">Copy CSS</button>
    </div>
</div>

<h2 class="h2-center">Live Preview</h2>

<!-- Resizable iframe container -->
<div id="preview-container">
    <div class="thumbnail-preview resizable-iframe-wrapper">
        <iframe src="{{ URL }}" class="iframe-thumbnail resizable-iframe"></iframe>
    </div>
</div>

<script src="\js\copy.js"></script>
