
.hero-content img {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    min-height: 90vh;
}

/*
Footer Section
*/
.footer-content {
    width: 100%;
    border-top: 2px solid white;
}

.footer-text {
    text-align: left;
    padding-top: .25rem;
}


/*
Filter Section
*/
.collection-filter {
    display: flex;
    column-gap: 1rem;
    list-style: none;
    margin-bottom: 6rem;
    flex-direction: column;
    min-width: 25%;
}

.filter-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
   
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    

}

.grid-wrap {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
 
}

.post-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    background-color: #D9D9D9;
    color: #000;
    border-radius: 12px;
}

.filter-btn {
    font-size: 1.5rem;
    padding: .25rem .75rem;
}
.filter-btn:focus {
    background-color: #00ff00;
  }

  
/*
Hero Section
*/
.hero-section {
    margin: 6rem 0;
    border-bottom: #fff solid 2px;
}









/*
Snippet Page
*/
.code-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

pre {
    background-color: #282c34;
    color: #00ff00;
    padding: 10px;
    overflow-x: auto;
}

code {
    white-space: pre;
}

button {
    margin-top: 10px;
    padding: 5px 10px;

    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #00ff00
}

#preview-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 2px solid blue;
    text-align: center;
    line-height: 100px;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.page-container {
    width: 100%;
    max-width: 80rem;
}

.page-content {
    padding: 1rem;
}

/*
Navbar
*/ 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    border-bottom: #fff solid 1px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--purple);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .nav-links a {
        font-size: 20px;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}